.container {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: -18px 18px 36px #bebebe, 18px -18px 36px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px 70px;

  border-radius: 8px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
}

html {
  height: 100vh;
  width: 100vw;

  background: #e0e0e0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;

  align-items: center;
  justify-content: center;
}
